<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <link href="static/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>Майнинг</title>

</head>
<body>
<div class = "container">
    <nav class="nav">
      <a class="nav-link disabled" href="/">Скупщик</a>
        <a class="nav-link active" href="/wallet">Проверить кошелек</a>
      <a class="nav-link active" href="/pay">Перевод монет</a>
      <a class="nav-link active" href="/top">Топ майнеров</a>
    </nav>
    <h1>Регистируй хэши и получай монеты!</h1>
    <form method = "post" action = "/">
        <div class="form-group">
            <label for="hashes">Введите строки формата "id VK"-"кусок" , md5 которых начинается с 00000</label>
            <textarea class="form-control" id="hashes" rows="3" name = "hashes"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-danger">Отправить</button>
        {% if res %}
            <h3>Обработаны ключи:</h3>
            <ul class = "list-group">
                {% for string, bool in res %}
                    <li class = "list-group-item">
                        {% if bool %}
                        {{ string }} -  OK
                        {% else %}
                        {{ string }} - WA
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        {% endif %}
    </form>
</div>
</body>
</html>