<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="static/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>Топ майнеров</title>
</head>
<body>
<div class="container">
    <nav class="nav">
      <a class="nav-link active" href="/">Скупщик</a>
        <a class="nav-link active" href="/wallet">Проверить кошелек</a>
      <a class="nav-link active" href="/pay">Перевод монет</a>
      <a class="nav-link disabled" href="/top">Топ майнеров</a>
    </nav>
    <h1>Топ 20 майнеров!</h1>
    <nav class="nav">
      <a class="nav-link active" href="/top">Топ-10 майнеров</a>
        <a class="nav-link active" href="/top5">Топ-5 майнеров</a>
      <a class="nav-link disabled" href="/top20">Топ-20 майнеров</a>
    </nav>
    {% if res %}
     <ol>
                {% for person, score in res %}
                    <li>
                        {{ person }} : {{ score }}
                    </li>
                {% endfor %}
            </ol>
    {% else %}
    <h3>К сожалению топ сейчас пустует, исправьте это!</h3>
    {% endif %}
</div>
</body>
</html>