<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="static/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>Проверка счета</title>
</head>
<body>
<div class="container">
    <nav class="nav">
      <a class="nav-link active" href="/">Скупщик</a>
        <a class="nav-link disabled" href="/wallet">Проверить кошелек</a>
      <a class="nav-link active" href="/pay">Перевод монет</a>
      <a class="nav-link active" href="/top">Топ-10 майнеров</a>
    </nav>
    <h1>Узнайте ваш баланс!</h1>
    <form method = "post" action = "/wallet">
        <div class="form-group">
            <label for="id">Введите ваш id ВКонтакте.</label>
            <textarea class="form-control" id="id" rows="1" name = "id"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-danger">Отправить</button>
        <h3>Ваш баланс: {{ score }} монет</h3>

    </form>

</div>
</body>
</html>